<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"> 
	
	<h:form id="commentForm">
		<p:dialog header="Add new comment" widgetVar="commentDlg" modal="true" closable="false"
			resizable="false" draggable="false">
	
			<h:panelGrid id="commentGrid" columns="1" cellpadding="5">	
				<p:message for="comm" />
				<h:outputLabel for="comm" value="Comment:" styleClass="label labelBold"/>
				<p:inputTextarea id="comm" value="#{commentModel.currentComment.comment}" 
					maxlength="255" required="true" rows="4" style="width:300px;"
					requiredMessage="Comment cannot be empyt!">
					<f:validateLength minimum="0" maximum="255"/>
				</p:inputTextarea>
			</h:panelGrid>
		
			<f:facet name="footer">
				<p:commandLink value="Save" actionListener="#{commentController.save()}"
					oncomplete="if (args &amp;&amp; !args.validationFailed) PF('commentDlg').hide();"
					update=":commentsForm commentGrid" />
				<p:commandLink value="Cancel" actionListener="#{commentController.cancel()}"
					onclick="PF('commentDlg').hide();" immediate="true" />
			</f:facet>
		</p:dialog>
	</h:form>

</ui:composition>