<ui:composition 
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jstl/core">
	<h:form id="taskForm">
		<p:dialog header="Create task" widgetVar="taskDlg" modal="true" closable="false"
			resizable="false" draggable="false" position="center" width="60%" height="410px">
				<p:messages id="messages" showDetail="true" autoUpdate="true" />
				<h:panelGrid columns="2" cellpadding="5" columnClasses="panelLabels">

					<p:outputLabel for="title" value="Title:" />
					<p:inputText id="title" value="#{taskModel.currentTask.title}" required="true"
						requiredMessage="Title cannot be empty"/>

					<h:panelGroup />
					<h:panelGroup />

					<h:panelGroup />
					<h:panelGroup />

					<p:outputLabel for="assignee" value="Assigee:" />
					<p:autoComplete id="assignee" dropdown="true"
						value="#{taskModel.currentTask.assignee}"
						completeMethod="#{userController.autoCompleteByProject}" var="user"
						itemLabel="#{user.showFullName()}" itemValue="#{user}"
						converter="#{userConverter}" title="This field is optional."
						placeholder="Unassigned" emptyMessage="No matches" 
						minQueryLength="2" forceSelection="true" maxlength="255"/>

					<h:panelGroup />
					<h:panelGroup />

					<p:outputLabel for="description" value="Description:" />
					<p:editor id="description" widgetVar="editorWidget" value="#{taskModel.currentTask.description}" maxlength="2000" height="150"/>
					
						
					<h:panelGroup />
					<h:panelGroup />
					
					<p:outputLabel for="sp" value="Story points:" />
					<p:inputText id="sp" value="#{taskModel.currentTask.storyPoints}" validatorMessage="Story points must be between 0 and 100">
						<f:validateDoubleRange maximum="100" minimum="0" for="sp"></f:validateDoubleRange>
					</p:inputText>
					
					<h:panelGroup />
					<h:panelGroup />
					
					<p:outputLabel for="sprint" value="Sprint:" />
					<p:autoComplete id="sprint" dropdown="true"
						value="#{taskModel.currentTask.sprint}" 
						completeMethod="#{sprintController.autoComplete}" var="sprint" 
						itemLabel="#{sprint.title}" itemValue="#{sprint}" 
						converter="#{sprintConverter}" title="This field is optional."
						placeholder="Unassigned" emptyMessage="No matches"
						minQueryLength="2" forceSelection="true" maxlength="255" >
						<p:ajax event="blur" listener="#{taskController.assignToSprintDate}"/>	
					</p:autoComplete>
				</h:panelGrid>
			
			<f:facet name="footer">
				<p:commandLink value="Save"
					actionListener="#{taskController.save()}"
					oncomplete="if (args &amp;&amp; !args.validationFailed) PF('taskDlg').hide();"
					icon="ui-icon-disk"
					update=":projectView" />
				<p:commandLink value="Cancel"
					actionListener="#{taskController.cancel()}"
					onclick="PF('taskDlg').hide();" icon="ui-icon-cancel"
					immediate="true" />
			</f:facet>

		</p:dialog>
	</h:form>
</ui:composition>