<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
	
			<p:dialog header="Upload file" widgetVar="uploadDlg" modal="true" resizable="false" draggable="true" closable="false">
				<div id="dropzone" 
					ondragover="addDragOverClass(event)"
					ondragleave="removeDragOverClass(event)"
					ondrop="removeDragOverClass(event)">
					<h:form id="uploadForm" enctype="multipart/form-data">
						<p:fileUpload styleClass="fileUploader"
							fileUploadListener="#{attachmentController.handleFileUpload}"
							mode="advanced" dragDropSupport="true" multiple="true" label="Browse"
							update="uploadForm :attachments" sizeLimit="10485760" auto="true">
						</p:fileUpload>
					</h:form>
				</div>
				<f:facet name="footer">
					<h:form>
						<p:commandLink value="Done" immediate="true" onclick="PF('uploadDlg').hide();" />
					</h:form>
				</f:facet>

				<script type="text/javascript">
						function addDragOverClass(event) {
							event.preventDefault();
							document.getElementById("dropzone").className = "dragover";
						}

						function removeDragOverClass(event) {
							event.preventDefault();
							document.getElementById("dropzone").className = "";
						}
				</script>

			</p:dialog>
	
</ui:composition>