<ui:composition 
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jstl/core">
	
	<h:form id="addToSprintForm">
		<p:dialog header="Add To Sprint" widgetVar="addToSprintDlg" modal="true" closable="false"
			resizable="false" draggable="false" position="center" width="25%" height="50px">
				<h:panelGrid columns="2" cellpadding="5" columnClasses="panelLabels">

					<p:outputLabel for="sprint" value="Sprint:" />
					<p:autoComplete id="sprint" dropdown="true"
						value="#{taskModel.currentTask.sprint}" 
						completeMethod="#{sprintController.autoComplete}" var="sprint" 
						itemLabel="#{sprint.title}" itemValue="#{sprint}" 
						converter="#{sprintConverter}" title="This field is optional."
						placeholder="Unassigned" emptyMessage="No matches"
						minQueryLength="2" forceSelection="true" maxlength="255" >
						<p:ajax event="blur" listener="#{taskController.assignToSprintDate}"/>	
					</p:autoComplete>
				</h:panelGrid>
			
			<f:facet name="footer">
				<p:commandLink value="Save"
					actionListener="#{taskController.save()}"
					oncomplete="if (args &amp;&amp; !args.validationFailed) PF('addToSprintDlg').hide();"
					icon="ui-icon-disk"
					update=":projectView" />
				<p:commandLink value="Cancel"
					actionListener="#{taskController.cancel()}"
					onclick="PF('addToSprintDlg').hide();" icon="ui-icon-cancel"
					immediate="true" />
			</f:facet>

		</p:dialog>
	</h:form>
</ui:composition>