<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<div>
			<h:form id="attachments">
				<p:dataTable id="attachmentList" styleClass="tableWithoutHeader"
					value="#{cachedAttachment.findAttchmentDetailsListByTask(taskModel.currentTask)}"
					var="attachment" emptyMessage="No attachments found." paginator="true" rows="5">
					<p:column>
						<div class="tableCellWithActions">
							<div class="tableCellContent">
								<c:set var="length" value="#{fn:length(attachment.name)}" />
								<c:set var="threshold" value="#{28}" />
								<c:set var="firstCut" value="#{threshold-11}" />
								<c:set var="lastLetters" value="#{10}" />
								<h:outputFormat value="{0}...{1}" title="#{attachment.name}" rendered="#{length gt threshold}">
									<f:param value="#{fn:substring(attachment.name, 0, firstCut)}" />
									<f:param value="#{fn:substring(attachment.name, length-lastLetters, length)}" />
								</h:outputFormat>
								<h:outputText value="#{attachment.name}" rendered="#{length le threshold}" />
								<h:outputText value="#{attachment.size/1024}">
									<f:convertNumber pattern=" (##### KB)" />
								</h:outputText>
							</div>
							<div class="tableCellActions">
								<p:commandButton id="downloadButton" title="Download file" ajax="false" icon="fa fa-download" disabled="#{taskController.displayItemToAuthorisedUser() eq false}"
									actionListener="#{attachmentController.prepareDownloadFile(attachment.id)}">
									<p:fileDownload value="#{attachmentModel.downloadFile}" />
								</p:commandButton>
								<p:tooltip for="downloadButton" value="Download file" showDelay="1000"></p:tooltip>
							</div>
						</div>
					</p:column>
				</p:dataTable>
				<p:commandLink id="uploadButton" update=":uploadForm" oncomplete="PF('uploadDlg').show();" disabled="#{taskController.displayItemToAuthorisedUser() eq false}"
					styleClass="attachedButton btn-floating red">
					<i class="fa fa-cloud-upload"></i>
				</p:commandLink>
				<p:tooltip for="uploadButton" value="Upload new file" showDelay="1000"></p:tooltip>
			</h:form>
	</div>

</ui:composition>