<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<h:form id="editProfileForm">
		<p:dialog header="Edit profile" widgetVar="editProfileDlg" 
			modal="true" resizable="false" draggable="false" closable="false">
			<h:panelGrid id="userGrid" columns="2" cellpadding="5" columnClasses="panelLabels">

				<p:outputLabel for="pwd1" value="Password:" />
				<h:panelGroup>
					<p:password id="pwd1" value="#{userModel.getLoggedUser().password}"
						match="pwd2"/>
					<p:message for="pwd1" />
				</h:panelGroup>

				<p:outputLabel for="pwd2" value="Confirm Password:" />
				<h:panelGroup>
					<p:password id="pwd2" value="#{userModel.getLoggedUser().password}" />
					<p:message for="pwd2" />
				</h:panelGroup>

				<h:panelGroup />
				<h:panelGroup />

				<p:outputLabel for="firstName" value="First name:" />
				<h:panelGroup>
					<p:inputText id="firstName" value="#{userModel.getLoggedUser().name}" required="true"
						requiredMessage="First name can not be empty." />
					<p:message for="firstName" />
				</h:panelGroup>

				<p:outputLabel for="lastName" value="Last name:" />
				<h:panelGroup>
					<p:inputText id="lastName" value="#{userModel.getLoggedUser().surname}" required="true"
						requiredMessage="Last name can not be empty." />
					<p:message for="lastName" />
				</h:panelGroup>

				<h:panelGroup />
				<h:panelGroup />

			</h:panelGrid>

			<f:facet name="footer">
				<p:commandLink value="Update"
					actionListener="#{userController.update(userModel.getLoggedUser())}"
					oncomplete="if (args &amp;&amp; !args.validationFailed) PF('editProfileDlg').hide();"
					update="editUserProfile editProfileForm:userGrid"
					icon="ui-icon-disk"
					/>
				<p:commandLink value="Cancel"
					actionListener="#{userController.cancel()}"
					onclick="PF('editProfileDlg').hide();" icon="ui-icon-cancel"
					immediate="true" />
			</f:facet>
		</p:dialog>
	</h:form>
</ui:composition>