<ui:composition template="../templates/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jstl/core">

	<ui:define name="content">
		<h:outputScript library="js" name="sticky.js" target="head"/>
		<div id="stickyAnchor"></div>
		<div class="contentHeader smoothTransition stickyElement">
			<h:form>
				<p:commandLink value="#{projectModel.currentProject.title}" action="#{projectController.overview(projectModel.currentProject)}" />
				/
				<p:commandLink value="Backlog" action="backlog" />
			</h:form>
			<h1>#{projectModel.currentProject.title}</h1>
		</div>
			
		<h:form id="projectView" styleClass="AfterStickyElement">
			<div class="contentBody" style="padding-top: 20px">
			<p:dataTable paginator="true" value="#{cachedTask.getTasksNotInSprint(projectModel.currentProject)}"
				id="backlogTable" widgetVar="backlogTable" var="task" rows="10" 
				selectionMode="single" selection="#{task}" rowKey="#{task.id}"
				styleClass="ui-datatable-wrapped"
				paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}">
				<p:ajax event="rowSelect" listener="#{taskController.onRowSelect}" />
    			<f:facet name="header">
					<span style="width: 100%;">Backlog</span>
					<span style="position: absolute; right: 30px; padding-right: 2%;">
						<h:commandLink title="Export full project backlog.">
							<p:graphicImage name="img/csv.png" width="30" height="30" />
							<p:fileDownload value="#{projectController.getBacklogCsvFile()}" />
						</h:commandLink>
					</span>
				</f:facet>

				<p:column headerText="Id" sortBy="#{task.id}">
					<h:outputText value="#{task.id}" />
				</p:column>
							
				<p:column headerText="Title" filterBy="#{task.title}" filterMatchMode="contains" sortBy="#{task.title}">
					<h:outputText value="#{task.title}"/>
				</p:column>

				<p:column headerText="Status" style="width:120px;" filterBy="#{task.taskStatus.value}" filterMatchMode="exact" sortBy="#{task.taskStatus.value}">
					<f:facet name="filter">
						<p:selectOneMenu label="Select" onchange="PF('backlogTable').filter()">
							<f:selectItem itemLabel="Select" itemValue="#{null}" noSelectionOption="true"/>
							<f:selectItems value="#{taskController.taskStatuses}"
									var="status" itemValue="#{status.value}"
									itemLabel="#{status.value}" />
						</p:selectOneMenu>
					</f:facet>
					<h:outputText value="#{task.taskStatus.value}"/>
				</p:column>
					
				<p:column headerText="Assignee" sortBy="#{task.assignee.showFullName()}" filterBy="#{task.assignee.showFullName()}" filterMatchMode="contains">
					<h:outputText value="#{task.assignee.showFullName()}" styleClass="#{task.assignee.active ? '' : (userModel.getLoggedUser().id == task.project.projectManager.id ? (task.taskStatus.value != 'Done' ? 'redText' : '') : '')}" />
				</p:column>

				<p:column headerText="SP" style="width:45px;" sortBy="#{task.storyPoints}">
					<h:outputText value="#{task.storyPoints}" />
				</p:column>

				<p:column headerText="Created" sortBy="#{task.creationDate}" sortMode="multiple" 
					filterBy="#{task.creationDate}" filterFunction="#{dateFilterBean.filterByDate}">
					<f:facet name="filter">
						<h:inputHidden id="filter4" />
					</f:facet>
					<f:facet name="header">
						<p:outputLabel value="Created" />
						<br />
						<p:calendar id="from4" pattern="yyyy-MM-dd"
							onchange="$(PrimeFaces.escapeClientId('#{p:component('filter4')}'))[0].value = $(PrimeFaces.escapeClientId('#{p:component('from4')}_input'))[0].value + ':' + $(PrimeFaces.escapeClientId('#{p:component('to4')}_input'))[0].value"
							onblur="PF('backlogTable').filter()">
							<p:ajax event="dateSelect"
								onstart="$(PrimeFaces.escapeClientId('#{p:component('filter4')}'))[0].value = $(PrimeFaces.escapeClientId('#{p:component('from4')}_input'))[0].value + ':' + $(PrimeFaces.escapeClientId('#{p:component('to4')}_input'))[0].value"
								oncomplete="PF('backlogTable').filter()" />
						</p:calendar>

						<p:calendar id="to4" pattern="yyyy-MM-dd"
							onchange="$(PrimeFaces.escapeClientId('#{p:component('filter4')}'))[0].value = $(PrimeFaces.escapeClientId('#{p:component('from4')}_input'))[0].value + ':' + $(PrimeFaces.escapeClientId('#{p:component('to4')}_input'))[0].value"
							onblur="PF('backlogTable').filter()">
							<p:ajax event="dateSelect"
								onstart="$(PrimeFaces.escapeClientId('#{p:component('filter4')}'))[0].value = $(PrimeFaces.escapeClientId('#{p:component('from4')}_input'))[0].value + ':' + $(PrimeFaces.escapeClientId('#{p:component('to4')}_input'))[0].value"
								oncomplete="PF('backlogTable').filter()" />
						</p:calendar>
					</f:facet>
					<h:outputText value="#{task.creationDate}">
						<f:convertDateTime type="date" pattern="yyyy-MM-dd" />
					</h:outputText>
				</p:column>
					
				<p:column>
					<div style="display: flex; justify-content: center">
						<p:commandButton value="Add to sprint"
							action="#{taskController.update(task)}"
							process="@this" update="@form"/>
					</div>
				</p:column>

				<p:ajax event="sort" oncomplete="PF('backlogTable').unselectAllRows()"/>
				<p:ajax event="filter" oncomplete="PF('backlogTable').unselectAllRows()"/>
						
				<f:facet name="footer">
					<span></span>
				</f:facet>
			</p:dataTable>

			<p:commandLink id="createNewTaskButton" actionListener="#{taskController.create()}"
				update="projectView"
				oncomplete="PF('taskDlg').show();"
				styleClass="attachedButton btn-floating red">
				<i class="fa fa-plus"></i>
			</p:commandLink>
			<p:tooltip for="createNewTaskButton" value="Create new task" showDelay="1000"></p:tooltip>
			
			<h:panelGroup styleClass="search">
				<p:outputLabel for="searchDesc" value="Search by description:"/>
				<p:inputText id="searchDesc" placeholder="Enter fragment" binding="#{fragment}" />
				<p:commandButton value="Search" action="#{taskController.searchTasksByFragment(fragment.value)}"/>
			</h:panelGroup>
			<br/>
			<br/>
			</div>
		</h:form>
		<ui:include src="add_task.xhtml"></ui:include>
	</ui:define>
	
</ui:composition>