<ui:composition template="../templates/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jstl/core">

	<ui:define name="content">
	<c:if test="#{sprintController.displayPage() eq true}">
		<h:outputScript library="js" name="sticky.js" target="head"/>
		<div id="stickyAnchor"></div>
		<div class="contentHeader smoothTransition stickyElement">
			<h:form id="contentHeaderForm">
				<p:commandLink value="#{sprintModel.currentSprint.project.title}" action="#{projectController.overview(sprintModel.currentSprint.project)}" />
				/
				<p:commandLink value="SPRINT ID #{sprintModel.currentSprint.id}" action="#{sprintController.overview(sprintModel.currentSprint)}" />
				
	            <h1>
	                <p:inplace id="title" editor="true">
	                    <p:ajax event="save" listener="#{sprintController.save()}"/>
	                    <p:inputText value="#{sprintModel.currentSprint.title}" required="true"
	                    	requiredMessage="Sprint title can not be empty."/>
	                </p:inplace>
	            </h1>
	          </h:form>
		</div>
		
		<h:form id="sprintForm" styleClass="AfterStickyElement">
			<p:messages id="messages" showDetail="true" autoUpdate="true" />
			<div class="contentBody">
				<div class="contentMainColumn contentColumn">
					<div class="contentItem">
						<p:fieldset legend="Details" toggleable="true" toggleSpeed="500" styleClass="customFieldset">
							<div class="column">
								<dl>
									<dt>Tasks</dt>
									<dd>
										<ul>
											<li><span class="label labelBold">Total:</span>
												<h:outputText value="#{sprintController.countTasks()}" styleClass="field"/></li>
											<li><span class="label labelBold">To do:</span>
												<h:outputText value="#{sprintController.countToDoTasks()}" styleClass="field"/></li>
											<li><span class="label labelBold">In progress:</span>
												<h:outputText value="#{sprintController.countInProgressTasks()}" styleClass="field"/></li>
											<li><span class="label labelBold">Done:</span>
												<h:outputText value="#{sprintController.countDoneTasks()}" styleClass="field"/></li>
										</ul>
									</dd>
								</dl>
							</div>
							<div class="column">
								<dl>
									<dt>Story Points</dt>
									<dd>
										<ul>
											<li><span class="label labelBold">Total:</span>
												<h:outputText value="#{sprintController.countStoryPoints()}" styleClass="field"/></li>
											<li><span class="label labelBold">Done:</span>
												<h:outputText value="#{sprintController.countStoryPointsDone()}" styleClass="field"/></li>
											<li><span class="label labelBold">Left:</span>
												<h:outputText value="#{sprintController.countStoryPointsLeft()}" styleClass="field"/></li>
										</ul>
									</dd>
								</dl>
							</div>
						</p:fieldset>
					</div>
				</div>
				<div class="contentSideColumn contentColumn">
					<div class="contentItem">
						<p:fieldset legend="Dates" toggleable="true" toggleSpeed="500" styleClass="customFieldset">
							<h:panelGrid columns="1">
								<h:outputText value="Start date:" styleClass="label labelBold"/>
			            		<p:inplace editor="true">
			            			<f:facet name="output">
										<h:outputText value="#{sprintModel.currentSprint.startDate}">
											<f:convertDateTime pattern="yyyy-MM-dd HH:mm" />
										</h:outputText>
									</f:facet>
									<f:facet name="input">
										<p:ajax event="save" listener="#{sprintController.save()}" update="@form" />
										<p:calendar id="start" value="#{sprintModel.currentSprint.startDate}" pattern="yyyy-MM-dd HH:mm" required="true" style="width:50px;"
											requiredMessage="Start date can not be empty.">
											<f:validator binding="#{sprintDatesValidator}" />
										</p:calendar>
									</f:facet>
								</p:inplace>
								<h:outputText value="End date:" styleClass="label labelBold"/> 
								<p:inplace editor="true">
									<f:facet name="output">
										<h:outputText value="#{sprintModel.currentSprint.finishDate}">
											<f:convertDateTime pattern="yyyy-MM-dd HH:mm" />
										</h:outputText>
									</f:facet>
									<f:facet name="input">
										<p:ajax event="save" listener="#{sprintController.save()}" update="@form" />
										<p:calendar id="finish" value="#{sprintModel.currentSprint.finishDate}" pattern="yyyy-MM-dd HH:mm" required="true"
											requiredMessage="Finish date can not be empty.">
											<f:validator binding="#{sprintDatesValidator}" />
										</p:calendar>
									</f:facet>
								</p:inplace>
							</h:panelGrid>
						</p:fieldset>
					</div>
				</div>
				<div class="contentBlock">
					<div class="contentItem">
						<p:fieldset legend="Burndown Chart" toggleable="true" toggleSpeed="500" styleClass="customFieldset">
							<p:chart type="line" model="#{chartView.dateModel}" responsive="true" styleClass="chart"/>
						</p:fieldset>
					</div>								
				</div>
				
				<div class="contentBlock">
					<div class="contentItem">
						<p:fieldset legend="Sprint Board" toggleable="true" toggleSpeed="500" styleClass="customFieldset">
							<h:panelGroup id="dashDiv" class="dashboard">
								<div class="dashboardLabels taskstatus-todo">To Do</div>
								<div class="dashboardLabels taskstatus-inprogress">In Progress</div>
								<div class="dashboardLabels taskstatus-done">Done</div>
								<p:dashboard id="dashboard" binding="#{dashboardView.dashboard}" model="#{dashboardView.model}"/>
								<div style="clear: both; display: flex"/>
							</h:panelGroup>
						</p:fieldset>
					</div>	
				
				    <div style="display: flex; justify-content: flex-end;">
						<h:commandLink title="Export list of sprint tasks." styleClass="btn-floating btn-large centeredContent">
							<p:graphicImage name="img/csv.png" width="30" height="30"/>
							<p:fileDownload value="#{sprintController.generateCsvFile()}" />
						</h:commandLink>
					</div>
				</div>
				
				<div class="contentBlock">
					<div class="contentItem">
						<p:fieldset legend="Project Backlog" toggleable="true" toggleSpeed="500" styleClass="customFieldset">
							<c:if test="#{cachedTask.getTasksNotInSprint(sprintModel.currentSprint.project).size() gt 0}">
								<p:dataTable id="notInSprintTable"
									value="#{cachedTask.getTasksNotInSprint(sprintModel.currentSprint.project)}"
									var="task" rows="10" paginator="true"
									paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}"
									selectionMode="single" selection="#{task}" rowKey="#{task.id}" 
									styleClass="ui-datatable-wrapped">
									<p:ajax event="rowSelect"
										listener="#{taskController.onRowSelect}" />
										
									<f:facet name="header">Backlog</f:facet>

									<p:column headerText="Id">
										<h:outputText value="#{task.id}" />
									</p:column>

									<p:column headerText="Title">
										<h:outputText value="#{task.title}" />
									</p:column>

									<p:column headerText="Story points">
										<h:outputText value="#{task.storyPoints}" />
									</p:column>

									<p:column headerText="Assigned to">
										<h:outputText value="#{task.assignee.showFullName()}" />
									</p:column>
									
									<p:column headerText="Actions">
										<div style="display: flex; justify-content: center">
											<p:commandButton value="Add to sprint"
												action="#{taskController.addToSprint(task, sprintModel.currentSprint)}"
												process="@this" update="@form"/>
										</div>
									</p:column>
									
									<f:facet name="footer"><span></span></f:facet>
									
								</p:dataTable>
							</c:if>
						</p:fieldset>
					</div>
				</div>
			</div>
		</h:form>
		<script>
   			function customChartExtender () {
      			this.cfg.grid = {
         		background: '#FFF' 
      			};
    		}
		</script>
		</c:if>
		<c:if test="#{sprintController.displayPage() eq false}">
			<ui:include src="access_denied.xhtml"></ui:include>
		</c:if>
	</ui:define>

</ui:composition>
