<ui:composition 
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jstl/core">
	<h:form id="suspendedTaskForm">
		<p:dialog header="Tasks assigned to suspended user" widgetVar="suspendedTaskDlg" modal="true"
			resizable="false" closable="false" draggable="false" position="center" width="80%">

			<p:dataTable paginator="true" value="#{cachedTask.findSuspendedUsersTasksInProject(projectModel.currentProject)}"
				id="taskTable" widgetVar="taskTable" var="task" rows="10" 
				selectionMode="single" selection="#{task}" rowKey="#{task.id}"
				styleClass="ui-datatable-wrapped">
				<p:ajax event="rowSelect" listener="#{taskController.onRowSelect}"/>
    			
    			<p:column style="width:16px; text-align:center">
    				<f:facet name="header">
    					<input type="checkbox" id="selectAll" class="resetCheckbox" title="Check to select all tasks, set tasks status to TODO and remove assignee"/>
    				</f:facet>
    					<input type="checkbox" class="resetCheckbox" name="resetTask" value="#{task.id}" title="Select to set task status to TODO and remove assignee"/>
    			</p:column>		
    				
				<p:column headerText="Id" style="width:100px;">
					<h:outputText value="#{task.id}"/>
				</p:column>

				<p:column headerText="Title" filterBy="#{task.title}" filterMatchMode="contains">
					<h:outputText value="#{task.title}"/>
				</p:column>
						
				<p:column headerText="Status" style="width:100px;" filterBy="#{task.taskStatus.value}" filterMatchMode="contains">
					<f:facet name="filter">
						<p:selectOneMenu label="Select" onchange="PF('taskTable').filter()">
							<f:selectItem itemLabel="All" />
							<f:selectItem itemLabel="To Do" itemValue="To Do" />
							<f:selectItem itemLabel="In Progress" itemValue="In Progress" />
						</p:selectOneMenu>
					</f:facet>
					<h:outputText value="#{task.taskStatus.value}"/>
				</p:column>
					
				<p:column headerText="Assigned to" filterBy="#{task.assignee.showFullName()}" filterMatchMode="contains">
					<h:outputText value="#{task.assignee.showFullName()}"/>
				</p:column>
						
				<p:ajax event="sort" oncomplete="PF('taskTable').unselectAllRows()"/>
				<p:ajax event="filter" oncomplete="PF('taskTable').unselectAllRows()"/>
						
			</p:dataTable>
			
			<f:facet name="footer">
				<p:commandLink value="Reset"
					action="#{taskController.resetSuspendedTasks()}"/>
				<p:commandLink value="Cancel" update=":suspendedTaskForm"
					oncomplete="PF('suspendedTaskDlg').hide();" immediate="true" />
			</f:facet>

		</p:dialog>
	</h:form>
	
	<script>
	$('#selectAll').click(function(event) {   
	    if(this.checked) {
	        // Iterate each checkbox
	        $(':checkbox').each(function() {
	            this.checked = true;                        
	        });
	    }else{
	    	 $(':checkbox').each(function() {
		            this.checked = false;                        
		      });
	    }
	});
	
    </script>

</ui:composition>