@CHARSET "UTF-8";

html,
body {
	margin:0;
	padding:0;
	height:100%;
    font-family: 'Roboto', sans-serif;
    font-size: 10pt;
}

#wrapper {
	min-height:100%;
	min-width: 1000px;
	position:relative;
}

#menu {
    background-color: #03A9F4;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0 2% 0 1%;
}

#menu .ui-widget {
	font-size: 1.1em;
}

#menuNavigation {
	padding-left: 20px;
}

#userProfileActions:HOVER,
.menuItem:HOVER {
	background: rgba(25, 25, 25, .1);
}

.menuItem {
	text-decoration: none;
    padding: 10px;
	color: #ffffff;
}

.icon-dropdown:after {
	font-family: FontAwesome;
	content: "\f107";
	margin: 5px;
}

.stretched {
	align-self:stretch;
  	display:flex;
  	align-items:center;
}

.smoothTransition {
	transition: all 0.5s;
    transition-timing-function: cubic-bezier(.55,0,.1,1);
}

#footer {
	background-color: #0277BD;
	width:100%;
	height:50px;
	position:absolute;
	bottom:0;
	left:0;
    text-align: center;
}

#footer > p {
    color: white;
}

.panelLabels {
    text-align: right;
    font-weight: bold;
}

.firstLevel {
    display: inline-block;
    width: 49%;
    vertical-align: top;
}

#taskInfo > * {
    margin-bottom: 20px;
}

.projectViewTable {
	margin: 40px;
}

.centered {
	display: flex;
    justify-content: center;
}

/* Detail section layout */
.column {
    display: inline-block;
    vertical-align: top;
    width: 49%;
}

.column ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.column ul li {
	margin-bottom: 10px;
}

.column ul li > * {
	display: inline-block;
	width: 40%;	
}

.column dl {
	margin: 0;
}

.column dl dt {
	font-size: 1.1em;
	font-weight: bolder;
	color: #0277bd;
}

.column dl dd {
	margin: 10px 5px;
}

.column dl ul li {
	margin-bottom: 5px;
}

.column dl ul li .label {
	text-align: left;
}

.column dl ul li .field {
	text-align: right;
	width: 30%;
}

/* File Uploader styling */
.fileUploader {
	min-width : 400px;
	min-height : 200px;
}

#dropzone {
	border: 3px dashed #d0cfd1;
}

.dragover {
	border: 3px dashed #a6a4a9!important;
	background-color: #ecebed;
}

.fileUploader > .ui-fileupload-buttonbar {
	background-color: red;
	display: flex;
    justify-content: center;
    border: none;
    background: none;
    padding-top: 10px;   
}

.fileUploader > .ui-fileupload-buttonbar:BEFORE {
	content: "Drop files to attach, or ";
	display: flex;
    align-self: center;
    margin-right: 10px;
    color: #818081;
    font-weight: normal;
}

.fileUploader > .ui-fileupload-content {
	border-style: none;
	background-color: inherit;
}

.tableCellWithActions > * {
	display: inline-block;
}

.tableCellContent {
	padding-top: 10px;
	vertical-align: middle;
}

.tableCellActions {
	float:right;
}

.fixedWidthSection {
	max-width: 600px;
}

.tableWithoutHeader thead {
	display: none;
}

.ui-dialog .ui-dialog-footer {
	background-color: #ededed;
    text-align: right !important;
}

/* Search by description */
.search {
	display: inline;
	float: right;
	margin-right: 50px;
	margin-top: 5px;
}

.search > * {
	margin: 5px;
}

/* Comments feature */
.commentList .ui-datalist-data {
	padding: 0 40px;
}

.commentList .ui-datalist-item {
	margin-bottom: 20px;
}

.commentList .comment-header {
	
}

.commentList .comment-text {
	padding: 20px 0 10px;
}

/* Content layout */
#content {
	padding-bottom:50px; /* Height of the footer element */
}

#content > * {
	padding-left: 2%;
	padding-right: 2%;
}

.contentHeader {
	width : 96%;
	padding-top : 10px;
	padding-bottom : 10px;
	margin-bottom : 10px;
	background-color: #e1f5fe;
	border-bottom: solid 1px;
	border-color: #bbbabc;
}

.contentHeader h1 {
	margin-bottom: 0;
	margin-top: 10px;
	transition: all 0.1s ease;
}

.contentBody {
	padding-bottom: 30px;
}

.contentColumn {
	display: inline-block;
	vertical-align: top;
}

.contentMainColumn {
	width: 60%;
}

.contentSideColumn {
	width: 35%;
	padding-left: 30px;
}

.contentToolBar {
	padding-bottom: 10px;
}

#contentToolBarForm > * {
	margin-left: 10px;
	margin-right: 0;
}
/* Content layout end */

tbody>tr>td{
	word-wrap: break-word;
}
.wordBreak{
	word-break: break-all;
}
.resetCheckbox
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  padding: 10px;
}

/* Autocomplete container width fix */
.ui-autocomplete-multiple-container {
	width: 100% !important;
}

/* Labels */
.label {}

.labelBold {
	font-weight: bold;
}

/* Inplace editor positioning */
.editorAutocompleteWithDropdown .ui-inplace-editor {
	position: relative;
	left: 30px;
}

.editorUnder .ui-inplace-editor {
	display: flex;
	justify-content: flex-end;
	padding-top: 5px;
}

.autocompleteFixedWidth .ui-autocomplete-input {
	width: 100px;
}

/* Dashboard columns */
.columns {
	width: 28%;
	margin: 2%;
	border: solid 1px;
	border-color: #bbbabc;
    height: 400px;
	display: block;
	overflow: auto;
	background-color: #eef2f7;
	border-radius: 2px;
}

/* Dashboard panel headers */
.ui-panel-titlebar{
	background: #0288d1;
	color: #ffffff;
	font-weight: normal;
}

.ui-panel-task-name {
	font-size: 120% !important;
}

.dashboard {
	clear: both;
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 90%;
	overflow: auto;
}

.dashboardLabels {
	display: inline-block;
	width: 28%;
	margin: 0 2%;
	padding: 2% 0;
	text-align: center;
	font-size: 20px;
	font-weight: bold;	
	border-radius: 5px;
}

.redText {
	color: #ff797d;
}

.greenText {
	color: #76b36f;	
}

.yellowText {
	color: #ffdb4d;
}

.chart {
	width: 85%;
	margin: auto;
}

/* Sticky elements */
.stick {
    position: fixed;
    top: 0;
    z-index: 100;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.stick h1 {
	font-size: 1em;
	margin: 0;
}

/* Custom fieldset */
.customFieldset {
    border: dotted;
    border-width: 1px 0 0 0;
    border-color: #c4c2c6;
    border-radius: 0;
}

.customFieldset > .ui-fieldset-legend  {
	background: none;
    border: none;
    color: #515151;
    font-weight: bold;
}

.customFieldset > .ui-fieldset-legend .ui-fieldset-toggler.ui-icon {
	background-image: url("/jura/javax.faces.resource/images/ui-icons_444444_256x240.png.xhtml?ln=primefaces-juratheme");
}

.customFieldset > .ui-fieldset-legend:HOVER {
	box-shadow: none;
}

/* Attached button */
.attachedButton.btn-floating.btn-large {
	bottom: 27px;
	left: 10px;
}

.attachedButton.btn-floating {
	bottom: 18px;
	left: 10px;
}

/* Header Project/Sprint/Task navigation */
.contentHeader a {
	text-decoration: none;
	color: #3b73af;
}

.contentHeader a:HOVER {
	text-decoration: underline;
}

/* Borderless components */
.borderless,
.borderless .ui-datalist-content,
.borderless .ui-autocomplete-multiple-container {
	border: none;
}

.borderless .ui-datalist-data {
	margin: 0;
}

/* Underlined input field for project assignees */
.inputfield-underlined .ui-autocomplete-input-token {
	border-bottom: 2px solid #d1d5c0;
}

.inputfield-underlined .ui-autocomplete-multiple-container.ui-state-focus .ui-autocomplete-input-token {
	border-bottom: 2px solid #01579b;
	transition: all 0.5s ease;
}

/* Expanded autocomplete to fill the column */
.expanded-width .ui-autocomplete-input-token,
.expanded-width .ui-autocomplete-input-token input {
	width: 100%;
}

/* Fully centered content */
.centeredContent {
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Task status colors */
.taskstatus-todo {
	background-color: #4a6785;
}

.taskstatus-inprogress {
	background-color: #ffd351;
	color: #333;
}

.taskstatus-done {
	background-color: #14892c;
}

.taskstatus-todo,
.taskstatus-done {
	color: #fff;
}

.taskstatus-container {
	padding: 2px 5px;
	border-radius: 4px;
	text-transform: uppercase;	
}

/* logout icon */
.icon-logout-before .ui-menuitem-text:before {
	font-family: FontAwesome;
	content: "\f08b";
	margin-right: 5px
}
/* Tabview adjustmens for home and admin panel views */
#content > .customView,
.customView .ui-tabs {
	padding: 0;
	border: none;
}

.customView .ui-tabs .ui-tabs-nav {
	padding: .5em 2% 0 2%;
}

.customView .ui-tabs .ui-tabs-panels {
	padding-left: 2%;
	padding-right: 2%;
}
